@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Global styles */

:root {
    --website-background: #24292e;
    --navbar-background: #0d1117;
    --seperator-color: #2a2e35;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    position: relative;
}

.navbar {
    width: 100%;
    padding: 18px;
    background-color: var(--website-background);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.navbar .container .title-link {
    text-decoration: none;
}

.navbar .container .title {
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    font-size: 22px;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}

.navbar-links li a:hover {
    text-decoration: underline white;
}

.about-wrapper {
    background-color: var(--navbar-background);
    width: 100%;
    color: #fff;
}

.about-wrapper .container {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.about-wrapper .container .about-title {
    margin-top: 20px;
    font-size: 45px;
    font-weight: bolder;
}